@import "./socialbuttons";
@import "./card";
@import "./imagehover";
body {
  margin: 0px;
  padding: 0px;
  background: #c3cfe2;
  font-family: arial;
}

//////// MediaQueries

@media screen and (min-width: 768px) {
  .container-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .container-grid {
    padding: 50px;
    max-width: 1050px;
  }

  .image {
    max-width: 300px;
    padding: 5px;
  }
}
